body{
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #F3E2A9;
  color: #8996af;
  font-family: 'Bitter', serif;
  font-family: 'Lato', sans-serif;
}
#footer{
  text-align: center;
  margin: 20px;
  position: absolute;
  bottom: 0%;
  width: 60%;
  left: 20%;
}
#header{
  padding: 10px;
  text-align: right;
  color:#0000FF;
  background-color: #EA5D2C
}
#index-marco{
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 30px;
  color: black;
  background: #EA5D2C;
  text-align: center;
}
#entrar{
  margin: 15px;
}
#acceso{
  margin-top: 10%;
}
#form-registro{
  position: absolute;
  left: 30%;
<<<<<<< HEAD
=======
  top: 50px;
>>>>>>> 323e86d73e46e1f27b66e9d4b98228ea1c80cc23
  text-align:right
}
#form-consulta{
  position: absolute;
  right: 30%;
<<<<<<< HEAD
=======
  top: 50px;
>>>>>>> 323e86d73e46e1f27b66e9d4b98228ea1c80cc23
  text-align:right
}
#chart_div{
  position: absolute;
<<<<<<< HEAD
  top: 350px;
=======
  top: 300px;
>>>>>>> 323e86d73e46e1f27b66e9d4b98228ea1c80cc23
  right: 20%;
  width: 60%;
  height: 40%;
  text-align:center
}
#nuevo-usuario{
  padding: 5px;
  width: 30px;
  position: absolute;
  left: 15%;
  top: 20%;
}
#nuevo-usuario *{
  margin: 5px;
}
#eliminar-usuario{
  padding: 5px;
  width: 30px;
  position: absolute;
  left: 35%;
  top: 20%;
}
#eliminar-usuario *{
  margin: 5px;
}
#nuevo-farmaco{
  padding: 5px;
  width: 30px;
  position: absolute;
  left: 55%;
  top: 20%;
}
#nuevo-farmaco *{
  margin: 5px;
}
#eliminar-farmaco{
  padding: 5px;
  width: 30px;
  position: absolute;
  left: 75%;
  top: 20%;
}
#eliminar-farmaco *{
  margin: 5px;
}
